<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body>

<%- include('layouts/pageNavBar') -%>
  
<div style="background-image: url('<%= course.image %>'); height: 40vh; width: 100%;">

</div>
  
<div class="container mb-8" style="margin-top: 60px!important; margin-bottom: 80px;">
    <h1 class="display-4">ASL Courses</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/courses">All Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= course.username %></li>
        </ol>
    </nav>

      
    <div class="container">

      <div class="row row-cols-lg-auto d-flex mx-auto justify-content-center align-items-center text-center py-1 me-1">
        <div class="hover-zoom m-5 p-3">
                <h1><%= course.title %></h1>
                <p>
                    <%= course.message %> <br>
                    <%= course.datePosted.toLocaleString()%>
                </p>
          </div>
      </div>
    </div>
</div>

<%- include('layouts/footer') -%>

<%- include('layouts/scripts') -%>

</body>
</html>
